<a href="https://colab.research.google.com/github/trjgdyan/trjgdyan/blob/main/Gower_Mat3P15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
Dx=pd.DataFrame({'age': [14, 19, 10, 14, 21, 19, 30, 35],
'preTestScore': [4, 24, 31, 3, 3, 4, 31, 9],
'postTestScore': [25, 94, 57, 30, 70, 25, 69, 95],
'available_credit': [2200, 1000, 22000, 2100, 2000, 1000, 6000, 2200],
'gender': ['M', 'F', 'M', 'M', 'F', 'M', 'F', 'M' ]})
Dx

   age  preTestScore  postTestScore  available_credit gender
0   14             4             25              2200      M
1   19            24             94              1000      F
2   10            31             57             22000      M
3   14             3             30              2100      M
4   21             3             70              2000      F
5   19             4             25              1000      M
6   30            31             69              6000      F
7   35             9             95              2200      M

In [2]:
!pip install gower

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gower
  Downloading gower-0.1.2-py3-none-any.whl (5.2 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from gower) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from gower) (1.7.3)
Installing collected packages: gower
Successfully installed gower-0.1.2

In [3]:
import gower
gower.gower_matrix(Dx)

array([[0.        , 0.5914286 , 0.5048571 , 0.02238095, 0.39361906,
        0.05142857, 0.6827619 , 0.4037143 ],
       [0.5914286 , 0.        , 0.6277143 , 0.5833333 , 0.24409524,
        0.54      , 0.25704762, 0.4494286 ],
       [0.5048571 , 0.6277143 , 0.        , 0.49866667, 0.715619  ,
        0.55628574, 0.5466667 , 0.6542857 ],
       [0.02238095, 0.5833333 , 0.49866667, 0.        , 0.3712381 ,
        0.07190476, 0.6765714 , 0.39752382],
       [0.39361906, 0.24409524, 0.715619  , 0.3712381 , 0.        ,
        0.3612381 , 0.31295237, 0.42819047],
       [0.05142857, 0.54      , 0.55628574, 0.07190476, 0.3612381 ,
        0.        , 0.6541905 , 0.37514287],
       [0.6827619 , 0.25704762, 0.5466667 , 0.6765714 , 0.31295237,
        0.6541905 , 0.        , 0.507619  ],
       [0.4037143 , 0.4494286 , 0.6542857 , 0.39752382, 0.42819047,
        0.37514287, 0.507619  , 0.        ]], dtype=float32)

In [4]:
first_row = gower.gower_matrix(Dx)[0]
first_row

array([0.        , 0.5914286 , 0.5048571 , 0.02238095, 0.39361906,
       0.05142857, 0.6827619 , 0.4037143 ], dtype=float32)

In [9]:
Dx[:1]

   age  preTestScore  postTestScore  available_credit gender
0   14             4             25              2200      M

In [8]:
Dx[:2]

   age  preTestScore  postTestScore  available_credit gender
0   14             4             25              2200      M
1   19            24             94              1000      F

In [6]:
Dx[first_row == min(first_row[first_row != min(first_row)])]

   age  preTestScore  postTestScore  available_credit gender
3   14             3             30              2100      M

In [7]:
Dx[first_row == max(first_row)]

   age  preTestScore  postTestScore  available_credit gender
6   30            31             69              6000      F